<a href="#/View/a/">Inicio</a>
<br/>

<h1>Detalle: {{nombre}}</h1>
<div>
	<div>		
		<input type="text" ng-model="repoNombre">	
		<hr/>
		
		<div class="row" style="height:200px; overflow-y:scroll;">
				<div class="col-md-12 well" ng-repeat="repo in repos | filter : repoNombre">
					<b>ID: </b>{{repo.id}}
					<a href="{{repo.html_url}}" target="_blank">{{repo.name | uppercase}}</a><span>: </span>
					<p>{{repo.description}}</p><br>
					<span>FECHA DE CREACION: </span>{{repo.created_at}}</br>
					<input type="button" ng-click="getReposDetails(repo.name);" value="Mas">
				</div>
		</div>
		<hr/>
		<div class="row">
			<div class="col-md-12 well">
				<h1>MAS:</h1>
				<h2>{{details.name}}</h2>
				<span>ID: </span>{{details.id}}</br>
				<span>LEGUAJE: </span>{{details.language}}</br>
				<span>ISSUES Abiertos: </span>{{details.open_issues}}</br>
				<span>FECHA DE CREACION: </span>{{details.created_at}}</br>
				<span>FECHA DE ACTUALIZACION: </span>{{details.updated_at}}</br>
				<span>TAMAÑO: </span>{{details.size}}</br>
				<input type="button" ng-click="getReposDetailsCommits(details.name);" value="VER COMMITS">
			</div>
		</div>
		<hr/>
		<div class="row">
			<div class="col-md-12" style="height:200px; overflow-y:scroll;">
				<div class="well" ng-repeat="comit in comits">
					<b>AUTOR: </b>{{comit.commit.author.name}}</br>
					<b>FECHA: </b>{{comit.commit.author.date}}</br>
					<b>MENSAJE: </b>{{comit.commit.message}}</br>			  
				</div>  
			</div>
		</div>
		<hr/>
		<div class="row">
			<div class="col-md-12">					
				<div id="PastelDiv"></div>					
				<div id="CalendarioDiv"></div>						
			</div>	
		</div>
	</div>
</div>